@*<div class="slider">
    <div class="container">
        <div id="about-slider">
            <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators visible-xs">
                    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-slider" data-slide-to="1"></li>
                    <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="images/slider_one.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="item">
                        <img src="images/slider_one.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="item">
                        <img src="images/slider_one.jpg" class="img-responsive" alt="">
                    </div>
                </div>

                <a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>

                <a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div> <!--/#carousel-slider-->
        </div><!--/#about-slider-->
    </div>
</div>*@

<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Discover the next generation of banking</h2>
            <p class="lead">We're the best. Blabla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at interdum nulla. Quisque dapibus tincidunt orci sit amet cursus. In hac habitasse platea dictumst. Ut ut nisi enim. Fusce gravida justo lectus, sed aliquam lorem tempus a. Nam cursus feugiat luctus. Etiam tincidunt dignissim dolor quis aliquet. Nunc pharetra nec risus et tempor. Phasellus pulvinar ornare consectetur. Morbi non ligula sed velit fermentum aliquet. Vestibulum vel suscipit nulla. Nunc consectetur iaculis sem, nec maximus felis pulvinar ac. Cras erat est, mattis in posuere et, sagittis ac magna. Nullam ac massa in ex pharetra egestas.</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-laptop"></i>
                        <h2>Online</h2>
                        <h3>Everything is available on our website, from anywhere.</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-comments"></i>
                        <h2>Best Service</h2>
                        <h3>You have never seen a so reactive customer service.</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-heart"></i>
                        <h2>With love</h2>
                        <h3>We love your money, bring it to us!</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#feature-->


